* {
	background-color:#A2B3BC;
}
nav{
	display:flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 100px;
}
nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 4px 12px;
	position: relative;
}
.nav-links ul li a{
	color: white;
	text-decoration: none;
	font-size: 15px;
}
.nav-links ul li::after{
	content: ' ';
	width: 0%;
	height: 2px;
	background: #D3FFB9;
	display: block;
	margin: auto;
	transition: 0.5s;
} 
.nav-links ul li:hover::after{
	width: 100%;
}
.cookie {
	position: relative;
	width: 50%;
	padding: 5px;
}
.ika {
	display: block;
	width: 350px;
	height: 300px;
}
.make {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 58.5%;
	height: 0;
	transition: .5s ease;
}
.cookie:hover .make {
	bottom: 0;
	height: 100%;
}

.green {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.con{
	position: relative;
	width: 50%;
	padding: 5px;
	margin-top: 10px;
}
.serve {
	display: block;
	width: 350px;
	height: 300px;
}
.ing {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 58.5%;
	height: 0;
	transition: .5s ease;
}
.con:hover .ing {
	bottom: 0;
	height: 100%;
}
.energy {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.re{
	position: relative;
	width: 50%;
	padding: 5px;
	margin-top: 10px;
}
.cy {
	display: block;
	width: 350px;
	height: 300px;
}
.cle {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 58.5%;
	height: 0;
	transition: .5s ease;
}
.re:hover .cle {
	bottom: 0;
	height: 100%;
}
.plastic {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.ad{
	position: relative;
	width: 50%;
	padding: 5px;
	margin-top: 10px;
}
.vo {
	display: block;
	width: 350px;
	height: 300px;
}
.cate {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 58.5%;
	height: 0;
	transition: .5s ease;
}
.ad:hover .cate {
	bottom: 0;
	height: 100%;
}
.let {
	white-space: nowrap; 
	color: black;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}